/*
  드롭다운 메뉴
*/
body,ul {  /*좌단 상단*/
   margin:0;
   padding:0;
}

/* 마크삭제 및 기본값으로 밑줄을 긋지 않도록 
설정(a태그) */

ul {list-style:none;}
a  {text-decoration:none;}

/* 1레벨 메뉴(상단메뉴) */
.dropdownmenu > li {
  float:left;  /*왼쪽으로 정렬 */
  position:relative; /* absoulte(메뉴겹침) */
  background:#67b0d1;
  width:25%;/* 4개의 메뉴 */
}

.dropdownmenu > li > a {
   display:block; /* 무조건 한줄은 점유하고 다음줄로 개행*/
   font-size:16px;
   color:#ffffff;
   text-align:center;/* 글자정렬 가운데 */
   height:60px; /* 높이 */
   line-height:60px; /* 텍스트 행 사이의 간격*/
}

/* 1레벨 메뉴에 마우스를 올렸을때 배경색 지정 
    태그명:hover->마우스를 올렸을때 표시
*/
.dropdownmenu > li:hover {
   background:#7bbbd7;
}

/* Service메뉴의 위치 지정 */
.dropdownmenu > li:hover > ul{
   top:60px;
   left:0;
}

/* 2레벨 메뉴 부터의 속성 */
.dropdownmenu ul {
   position:absolute;
   top:-9999px; /* 위쪽으로 완전히 감춤 */
   z-index:9999; /*숫자가 크면 앞으로 나옴*/
   width:140px;
   border:1px solid #cccccc;
}
/* 2레벨 메뉴의 위치 속성 지정*/
.dropdownmenu ul li {
    position:relative;
}
/* 2레벨 메뉴의 텍스트속성/배경/여백지정*/
.dropdownmenu ul a {
  display:block;
  color:#aaaaaa;
  font-size:12px;
  line-height:40px;
  background:#ffffff;
  padding-left:20px; /*border와 메뉴사이의 여백*/
}

/* 2레벨 메뉴에 마우스를 올렸을때 배경색 지정*/
.dropdownmenu ul a:hover {
     color:#ffffff;
	 background:#67b0d1;
}
/* 2레벨 메뉴에 마우스를 올렸을때 하위메뉴위치지정*/
.dropdownmenu ul li:hover > ul {
  position:absolute;
  top:0;
  left:100%;
}
