@import url(https://fonts.googleapis.com/css?family=Montserrat);
html, body {
  overflow: hidden;
    background-color: antiquewhite;
}

a{text-decoration: none; color: #818181;}


.sideNav{
    height: 100%;
    width: 20vw;
    position: fixed;
    z-index: 100;
    top:0; right: -20vw;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 10px;    
    transition: 0.5s;
}

.gnb{
    padding-bottom: 50px;
}

.gnb > span{ 
    display: inline-block;
    width: auto; height: auto;
}

.gnb .closebtn {
    font-size: 3rem;
    position: absolute;
    right: 20px;
}

.gnb .login{
    position: absolute;
    top:30px; left:30px;   
    font-size: 1rem;    
}

.gnb a{
   color: #fff;
}


.menu{
}

.menu a{
    margin: 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}



#navIcn{
    background-color: dimgray;
    display: block;    
    position: absolute;
    width: 7vh; height: 7vh;
    z-index: 50;
    top:10px; right: 10px;
    font-size: 2rem;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
}

#navIcn:hover{cursor:pointer}


.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
  -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.background:first-child {
  background-color: dodgerblue;
  -webkit-transform: translateY(-15vh);
          transform: translateY(-15vh);
}
.background:first-child .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background:nth-child(2) {
  background-color: firebrick;
}


/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 3;
}

.background:nth-child(2) {
  z-index: 2;
}


.content-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}
.content-title {
  font-size: 6vh;
  line-height: 2;
}
.content-p {
  font-size: 2.5vh;
  line-height: 1.4;
}


.content-wrapper2 {
  height: 130vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}


section{
    flex: 1;
    height: 130vh;
    transform: translateY(-40vh);
    transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}



section:first-child{    
    background-color: aquamarine;
    
}

section:nth-child(2){
    background-color: darksalmon;
}



.flexTxt{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
    

}

section > p:hover{    
    background-color: rgba(0, 0, 0, 0.3);
}






/* 스크롤 css */
.background.up-scroll {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background.up-scroll + .background {
  -webkit-transform: translate3d(0, 30vh, 0);
          transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.background.down-scroll {
  -webkit-transform: translate3d(0, -130vh, 0);
          transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}

