		#content_wrap{
				background:#000;  
				height:1400px;
			}

			#hide_img{
				perspective:300px;	/*3d효과를 주기위해 뷰쪽으로 공간왜곡.*/
			}

			#hide_img > img{	
				opacity:1;
				padding-top:30px;
				min-width:50%;  /*아무리작아도 최소 50%의 넓이유지*/				 
				-webkit-animation:logo 2.4s;
				animation:logo 2.4s;
			}

			/* #show_img */
			.cycle-slideshow{
				opacity:0;
				z-index:0;
			}

			/* #show_img */
			.cycle-slideshow > img {	
				z-index:0;
				height:auto;
				padding:120px 50px 40px 80px;	
				
			}

			#iph_article{
				position:relative;
				text-align:center;
				width:100%;
				height:auto;
			}

			#iph_article > span{
			    position:absolute;
				left:20px;
				top:20px;
				display:block;
				font-size:1.6em;
				font-weight:bold;
				font-family: 'Francois One', sans-serif; /*구글폰트*/
				color:#fff;
			}

			#content{
				position:relative;
				opacity:0;
			}

			#content1{
				position:absolute;
				top:200px;
			}

			#content1 > h1{
				position:relative;
				left:200px;
				top:120px;

				font-family: 'Francois One', sans-serif;
				font-size:50px;
				text-align:center;
				color:rgba(255,255,255,.9);

				text-shadow:0 1px 2px rgba(220,220,220,0.7),
					              1px 2px 4px rgba(240,240,240,0.5),
								  2px 4px 6px rgba(250,250,250,0.6);

			}

			#content1 > img{
				position:relative;
				left:0;
				top:130px;
				-webkit-animation:content_img1 4s infinite;
				animation:content_img1 4s infinite;

			}

			#content1 > .sub_article{
				position:relative;
				left:600px;
				top:-70px;
				width:400px;
				
			}
			#content1 > .sub_article > span{
				color:rgba(255,255,255,1);
			}


			#content2{
				position:absolute;
				top:900px;
				background:#fff;
			}

			#content2 > h1{
				font-family: 'Francois One', sans-serif;
				font-size:50px;
				margin-left:60px;
				
				text-shadow:0 1px 2px rgba(100,100,100,0.7),
					              1px 2px 4px rgba(70,70,70,0.8),
								  2px 4px 6px rgba(40,40,40,0.8),
								  3px 6px 9px rgba(10,10,10,0.8);

			}

			#content2 > img{
				position:relative;
				left:400px;
				padding:0 10px 0 100px; 
			}

			#content2 > .sub_article {
				position:relative;
				left:-150px;
				width:400px;
				top:-180px;
			} 
			#content2  > .sub_article > span{
				font-weight:bold;
				color:rgba(0,0,0,.9);
				font-family: 'Francois One', sans-serif;
				text-shadow:0 1px 2px (10,10,10,.8);
			}


		 	#content3{
				position:absolute;
				top:1500px;
				height:auto;
				width:1200px;
				background:rgba(224,224,224,.9); 
			} 

			#content3 > h1{
				font-family: 'Francois One', sans-serif;
				font-size:50px;
				margin-top:10px;
				margin-left:60px;

				color:rgba(210,210,210,1);
				text-shadow:0 1px 2px rgba(10,10,10,0.9),
					              1px 2px 4px rgba(20,20,20,0.8),
								  2px 4px 6px rgba(45,45,45,0.9);
			}

			#content3 > img{
				position:relative;
				left:-190px;
				top:0px;		
			} 

			#content3 > .sub_article{
				position:relative;
				left:800px;
				top:-200px;
				
			}

			#content3 > .sub_article > span{
				position:absolute;
				width:400px;

				font-weight:bold;
				color:rgba(3,3,3,.9);
				font-family: 'Francois One', sans-serif; /*구글폰트*/
				text-shadow:0 1px 2px (10,10,10,.9);	
				
			}